*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#menu
{
    background-color: rgba(0, 0, 0, 0.932);
}

.nav-link
{
    color: rgb(199, 62, 8);
}


.btn
{
    background-color: blue;
    color:white ;

}

/*pie*/

.pie {
    margin-top: 20px;
    height: 110px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.932);
}

.pie img {
    height: 70%;
    width: 60%;

}

.hijo {
    margin-bottom: 5px;
    color: grey;

    font-size: 15px;
    text-align: center;
}

.hijos a {
    text-decoration: none;
    color: grey;
    margin: 5px;
    font-size: 15px;
}
.hijos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.3%;
    
}
body
{
    background-color: rgba(12, 12, 12, 0.836);
}
.carousel {
    max-width: 800px; /* Ajusta el ancho del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
  
  }
  
  .carousel-item img {
    height: 500px; /* Ajusta la altura de las imágenes */
    object-fit: coevr; /* Ajusta la imagen dentro del contenedor */
  }
  
  .btn {
    margin-top: 1rem;
    width: auto;
  }
  .contenedor2{
    background-color: white;
    text-align: center;
  }
  .hijos3 img{
    width: 75%;
    display: flex;
    margin: 0 auto; /* Centra el carrusel horizontalmente */
  }
  .contenedor3{
    background-color: white;
    text-align: center;
  }
  .hijos4 img{
    width: 75%;
  }
  .contenedor4{
    background-color: white;
    text-align: center;
  }
  .hijos5{
    margin: 0 auto; 
  }